@import url('cabinet-grotesk.css');
@import url('satoshi.css');

body {
    margin: 0;
    padding: 20px;
    background: #f2f2f2;
}

h1 {
    text-align: center;
    font-family: 'CabinetGrotesk-Extrabold', sans-serif;
    font-weight: 800;
    font-size: 3vw; /* viewport width*/
}

p {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 2vw;
}

.swiper {
    width: 90%;
    max-width: 600px;
    height: 20vh;
    margin: 40px auto;
    border-radius: 10px;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover; /* für Slideshows */
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

